@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
}

body #container {
  margin: 0;
  padding: 0;
}

body #container header {
  font-family: "Lora", serif;
  font-size: 40px;
  text-align: center;
}

body #container .navUnderline {
  margin-bottom: 0px;
}

body #container nav {
  display: flex;
  justify-content: center;
}

body #container nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

body #container nav ul li {
  padding: 10px 30px;
}

body #container nav ul li::after {
  content: "";
  position: relative;
  width: 0%;
  height: 3px;
  display: block;
  transition: all 0.3s ease;
}

body #container nav ul li:hover::after {
  width: 100%;
  height: 3px;
  background-color: rgba(239, 160, 1, 0.986);
}

body #container nav ul li a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  text-decoration: none;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

body #container .mainContainer {
  padding-bottom: 150px;
}

body #container .mainContainer .slider {
  height: 600px;
}

body #container .mainContainer .slider img {
  object-fit: cover;
  object-position: bottom;
  width: 100%;
  height: 100%;
}

body #container .mainContainer .sliderUnderline {
  width: 700px;
}

body #container .mainContainer main article {
  text-align: center;
}

body #container .mainContainer main article h2 {
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 100;
}

body #container .mainContainer main article .articleInsideContainer {
  padding: 0 100px;
}

body #container .mainContainer main article .articleInsideContainer img {
  max-width: 60%;
  border-radius: 200px 10px 30px 10px;
}

body #container .mainContainer main article .articleInsideContainer p {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman";
  text-align: justify;
}

body #container .mainContainer main .designExamples {
  padding: 0 100px;
  text-align: center;
  display: block;
}

body #container .mainContainer main .designExamples h2 {
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 100;
}

body #container .mainContainer main .designExamples .examplesContainer {
  display: flex;
  justify-content: space-evenly;
}

body #container .mainContainer main .designExamples .examplesContainer .firstDesignExample {
  width: 400px;
  display: block;
  padding: 0 15px;
}

body #container .mainContainer main .designExamples .examplesContainer .firstDesignExample img {
  width: 100%;
  border-radius: 50px 10px 50px 10px;
  transition: 0.6s;
}

body #container .mainContainer main .designExamples .examplesContainer .firstDesignExample img:hover {
  transform: scale(1.1);
  box-shadow: 2px 10px 10px 2px;
}

body #container .mainContainer main .designExamples .examplesContainer .firstDesignExample p {
  padding-top: 10px;
  font-family: "Lora", serif;
  font-size: 20px;
}

body #container .mainContainer main .designExamples .examplesContainer .secondDesignExample {
  width: 400px;
  display: block;
  padding: 0 15px;
}

body #container .mainContainer main .designExamples .examplesContainer .secondDesignExample img {
  width: 100%;
  border-radius: 50px 10px 50px 10px;
  transition: 0.6s;
}

body #container .mainContainer main .designExamples .examplesContainer .secondDesignExample img:hover {
  transform: scale(1.1);
  box-shadow: 2px 10px 10px 2px;
}

body #container .mainContainer main .designExamples .examplesContainer .secondDesignExample p {
  padding-top: 10px;
  font-family: "Lora", serif;
  font-size: 20px;
}

body #container .mainContainer main .designExamples .examplesContainer .thirdDesignExample {
  width: 400px;
  display: block;
  padding: 0 15px;
}

body #container .mainContainer main .designExamples .examplesContainer .thirdDesignExample img {
  width: 100%;
  border-radius: 50px 10px 50px 10px;
  transition: 0.6s;
}

body #container .mainContainer main .designExamples .examplesContainer .thirdDesignExample img:hover {
  transform: scale(1.1);
  box-shadow: 2px 10px 10px 2px;
}

body #container .mainContainer main .designExamples .examplesContainer .thirdDesignExample p {
  padding-top: 10px;
  font-family: "Lora", serif;
  font-size: 20px;
}

body #container .projectsContainer {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lora", serif;
}

body #container .projectsContainer .firstProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

body #container .projectsContainer .secondProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

body #container .projectsContainer .thirdProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

body #container .projectsContainer .fourthProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body #container .projectsContainer img {
  max-width: 60%;
  border-radius: 200px 60px 200px 200px;
  transition: 1s;
}

body #container .projectsContainer img:hover {
  border-radius: 60px 200px 60px 200px;
}

body #container .projectsContainer h2 {
  font-weight: normal;
  font-size: 40px;
}

body #container .projectsContainer button {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: white;
  color: black;
  border-radius: 20px 20px 20px 20px;
  border: 1px solid black;
  transition: 0.5s;
  cursor: pointer;
}

body #container .projectsContainer button:hover, body #container .projectsContainer button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(239, 160, 1, 0.986);
  transform: translateY(-0.25em);
  color: rgba(239, 160, 1, 0.986);
  border: 1px solid rgba(239, 160, 1, 0.986);
}

body #container .formContainer .form {
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body #container .formContainer .form .formImg {
  z-index: 1;
  box-shadow: 0.4em -0.1em 0.2em -0.2em black;
}

body #container .formContainer .form .formImg img {
  height: 500px;
  box-shadow: 10px black;
}

body #container .formContainer .form .InputsButtonsContainer {
  border-radius: 0 10px 10px 0;
  padding: 0 20px;
  width: 310px;
  height: 500px;
  background-color: rgba(239, 160, 1, 0.986);
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer {
  width: 300px;
  height: 350px;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer input {
  color: black;
  display: block;
  height: 50px;
  width: 300px;
  border-radius: 10px 20px 10px 20px;
  font-size: 20px;
  margin: 5px 0;
  border: none;
  transition: 0.5s;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer input:focus {
  border: none;
  outline: none;
  background-color: #ffdda6;
  box-shadow: -0.2rem 0.3rem 0.4rem 0.2rem black;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer label {
  padding: 20px 0;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer .buttonsContainer {
  margin-top: 90px;
  text-align: center;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer .buttonsContainer button {
  padding: 5px 10px;
  background-color: rgba(239, 160, 1, 0.986);
  font-size: 20px;
  box-shadow: 0.1em 0.1em 0 0 white, inset 0.1em 0.1em 0 0 white;
  border: none;
  outline: none;
  transition: 0.8s;
}

body #container .formContainer .form .InputsButtonsContainer .inputsContainer .buttonsContainer button:hover, body #container .formContainer .form .InputsButtonsContainer .inputsContainer .buttonsContainer button:focus {
  box-shadow: 0 0 0 0 black, inset 6em 3.5em 0 0  black;
  color: white;
}

body #container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  background-color: red;
  text-align: center;
  background-color: whitesmoke;
}

body #container footer .topShadow {
  position: absolute;
  background-color: rgba(222, 184, 135, 0.432);
  width: 100%;
  height: 1px;
  box-shadow: 0em -0.1em 0.2em 0.1em burlywood;
}

body #container footer .iconContainer {
  margin-top: 10px;
}

body #container footer .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

body #container footer .fa:hover {
  opacity: 0.7;
}

body #container footer .fa-facebook {
  background: #3b5998;
  color: white;
}

body #container footer .fa-linkedin {
  background: #007bb5;
  color: white;
}

body #container footer .fa-github {
  background-color: black;
  color: white;
}
