@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
$hovercolor: rgba(239, 160, 1, 0.986);
$backgroundColor: rgba(245, 172, 25, 0.986);
$Mainfont: "Lora", serif;
$navFont: Cambria, Cochin, Georgia, Times, "Times New Roman";

body {
  margin: 0;
  padding: 0;
  #container {
    margin: 0;
    padding: 0;
    header {
      font-family: $Mainfont;
      font-size: 40px;
      text-align: center;
    }
    .navUnderline {
      margin-bottom: 0px;
    }
    nav {
      display: flex;
      justify-content: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px 30px;
          &::after {
            content: "";
            position: relative;
            width: 0%;
            height: 3px;
            display: block;
            transition: all 0.3s ease;
          }
          &:hover::after {
            width: 100%;
            height: 3px;
            background-color: $hovercolor;
          }

          a {
            font-family: $navFont;
            text-decoration: none;
            font-size: 20px;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    .mainContainer {
      padding-bottom: 150px;
      .slider {
        height: 600px;
        img {
          object-fit: cover;
          object-position: bottom;
          width: 100%;
          height: 100%;
        }
      }
      .sliderUnderline {
        width: 700px;
      }
      main {
        article {
          text-align: center;
          h2 {
            font-family: $Mainfont;
            font-size: 40px;
            font-weight: 100;
          }
          .articleInsideContainer {
            padding: 0 100px;
            img {
              max-width: 60%;
              border-radius: 200px 10px 30px 10px;
            }
            p {
              font-size: 20px;
              font-family: $navFont;
              text-align: justify;
            }
          }
        }
        .designExamples {
          padding: 0 100px;
          text-align: center;
          display: block;
          h2 {
            font-family: $Mainfont;
            font-size: 40px;
            font-weight: 100;
          }
          .examplesContainer {
            display: flex;
            justify-content: space-evenly;
            .firstDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
            .secondDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
            .thirdDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .projectsContainer {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 150px;
      font-family: $Mainfont;
      .firstHalfProjects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .firstProject {
          width: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 60px;
          background-color: $backgroundColor;
          border-radius: 200px 60px 20px 20px;
          box-shadow: 0 0.9em 0.5em -0.2em $hovercolor;
          transition: 0.7s;
          &:hover {
            border-radius: 200px 200px 60px 200px;
          }
        }
        .secondProject {
          width: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 60px;
          background-color: $backgroundColor;
          border-radius: 200px 60px 20px 20px;
          box-shadow: 0 0.9em 0.5em -0.2em $hovercolor;
          transition: 0.7s;
          &:hover {
            border-radius: 200px 200px 60px 200px;
          }
        }
      }
      .secondHalfProjects {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .thirdProject {
          width: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 60px;
          background-color: $backgroundColor;
          border-radius: 200px 60px 20px 20px;
          box-shadow: 0 0.9em 0.5em -0.2em $hovercolor;
          transition: 0.7s;
          &:hover {
            border-radius: 200px 200px 60px 200px;
          }
        }
        .fourthProject {
          width: 600px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 60px;
          background-color: $backgroundColor;
          border-radius: 200px 60px 20px 20px;
          box-shadow: 0 0.9em 0.5em -0.2em $hovercolor;
          transition: 0.7s;
          &:hover {
            border-radius: 200px 200px 60px 200px;
          }
        }
      }
      img {
        width: 600px;
        height: 364px;
        border: 4px solid white;
        border-radius: 200px 60px 200px 200px;
        transition: 0.7s;
        &:hover {
          border-radius: 60px 200px 60px 200px;
        }
      }
      h2 {
        font-weight: normal;
        font-size: 30px;
        color: white;
      }
      button {
        font-family: "Times New Roman", Times, serif;
        font-size: 25px;
        background-color: white;
        color: black;
        border-radius: 20px 20px 20px 20px;
        border: none;
        transition: 0.5s;
        cursor: pointer;
        &:hover,
        &:focus {
          box-shadow: 0 0.5em 0.5em -0.4em $hovercolor;
          transform: translateY(-0.25em);
          color: $hovercolor;
          border: 1px solid $hovercolor;
        }
      }
    }
    .formContainer {
      .form {
        width: 50%;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .formImg {
          z-index: 1;
          box-shadow: 0.4em -0.1em 0.2em -0.2em black;
          img {
            height: 500px;
            box-shadow: 10px black;
          }
        }
        .InputsButtonsContainer {
          border-radius: 0 10px 10px 0;
          padding: 0 20px;
          width: 310px;
          height: 500px;
          background-color: $hovercolor;

          .inputsContainer {
            width: 300px;
            height: 350px;
            input {
              color: black;
              display: block;
              height: 50px;
              width: 300px;
              border-radius: 10px 20px 10px 20px;
              font-size: 20px;
              margin: 5px 0;
              border: none;
              transition: 0.5s;
              &:focus {
                border: none;
                outline: none;
                background-color: rgb(255, 221, 166);
                box-shadow: -0.2rem 0.3rem 0.4rem 0.2rem black;
              }
            }
            label {
              padding: 20px 0;
            }
            .buttonsContainer {
              margin-top: 90px;
              text-align: center;
              button {
                padding: 5px 10px;
                background-color: $hovercolor;
                font-size: 20px;
                box-shadow: 0.1em 0.1em 0 0 white, inset 0.1em 0.1em 0 0 white;
                border: none;
                outline: none;
                transition: 0.8s;
                &:hover,
                &:focus {
                  box-shadow: 0 0 0 0 black, inset 6em 3.5em 0 0 black;
                  color: white;
                }
              }
            }
          }
        }
      }
    }
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-top: 100px;
      background-color: red;
      text-align: center;
      background-color: whitesmoke;
      .topShadow {
        position: absolute;
        background-color: rgba(222, 184, 135, 0.432);
        width: 100%;
        height: 1px;
        box-shadow: 0em -0.1em 0.1em 0.1em burlywood;
      }
      .iconContainer {
        margin-top: 10px;
      }
      .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3b5998;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa-github {
        background-color: black;
        color: white;
      }
    }
  }
}
