@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
$hovercolor: rgba(239, 160, 1, 0.986);
$Mainfont: "Lora", serif;
$navFont: Cambria, Cochin, Georgia, Times, "Times New Roman";

.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  #container {
    margin: 0;
    padding: 0;

    header {
      font-family: $Mainfont;
      font-size: 40px;
      text-align: center;
    }
    .navUnderline {
      margin-bottom: 0px;
    }
    nav {
      display: flex;
      justify-content: center;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          padding: 10px 30px;
          &::after {
            content: "";
            position: relative;
            width: 0%;
            height: 3px;
            display: block;
            transition: all 0.3s ease;
          }
          &:hover::after {
            width: 100%;
            height: 3px;
            background-color: $hovercolor;
          }

          a {
            font-family: $navFont;
            text-decoration: none;
            font-size: 20px;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
    .mainContainer {
      .slider {
        height: 600px;
        img {
          object-fit: cover;
          object-position: bottom;
          width: 100%;
          height: 100%;
        }
      }
      .sliderUnderline {
        width: 700px;
      }
      main {
        article {
          text-align: center;
          h2 {
            font-family: $Mainfont;
            font-size: 40px;
            font-weight: 100;
          }
          .articleInsideContainer {
            padding: 0 100px;
            img {
              max-width: 60%;
              border-radius: 200px 10px 30px 10px;
            }
            p {
              font-size: 20px;
              font-family: $navFont;
              text-align: justify;
            }
          }
        }
        .designExamples {
          padding: 0 100px;
          text-align: center;
          display: block;
          h2 {
            font-family: $Mainfont;
            font-size: 40px;
            font-weight: 100;
          }
          .examplesContainer {
            display: flex;
            justify-content: space-evenly;
            .firstDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
            .secondDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
            .thirdDesignExample {
              width: 400px;
              display: block;
              padding: 0 15px;
              img {
                width: 100%;
                border-radius: 50px 10px 50px 10px;
                transition: 0.6s;
                &:hover {
                  transform: scale(1.1);
                  box-shadow: 2px 10px 10px 2px;
                }
              }
              p {
                padding-top: 10px;
                font-family: $Mainfont;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .projectsContainer {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $Mainfont;
      .firstProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
      }
      .secondProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
      }
      .thirdProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
      }
      .fourthProject {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        max-width: 80%;
        border-radius: 200px 60px 200px 200px;
        transition: 1s;
        &:hover{
          border-radius: 60px 200px 60px 200px;
        }
      }
      h2{
        font-weight: normal;
        font-size: 40px;
      }
      button{
        font-family:'Times New Roman', Times, serif;
        font-size: 30px;
        background-color: white;
        color: black;
        border-radius: 20px 20px 20px 20px ;
        border: 1px solid black;
        transition: 0.5s;
        cursor: pointer;
        &:hover, &:focus{
          box-shadow: 0 0.5em 0.5em -0.4em $hovercolor;
          transform: translateY(-0.25em);
          color: $hovercolor;
          border: 1px solid $hovercolor;
        }
      }
    }
    footer {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      background-color: whitesmoke;
      .topShadow {
        position: absolute;
        background-color: whitesmoke;
        width: 100%;
        height: 1px;
        box-shadow: 2px 2px 2px 2px whitesmoke;
      }
      .iconContainer {
        margin-top: 10px;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook {
        background: #3b5998;
        color: white;
      }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa-github {
        background-color: black;
        color: white;
      }
    }
  }
}
